.root {
  height: 100%;
  padding: 15px;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  justify-items: center;
}

.bookImage {
  align-self: flex-start;
}

.bookDetails {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.bookTitle {
  font-size: 26px;
  font-weight: bold;
}

.bookActionSection {
  display: flex;
  grid-gap: 20px;
}

.button {
  width: 120px;
}
