.cartItemRow {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.cartHeader {
  margin-top: 20px;
  text-align: right;
}

.cartItemActionSection {
  margin-top: 10px;
  display: flex;
}

.cartItemAction {
  padding: 0;
  margin-right: 5px;
}
