.root {
  height: 100%;
  padding: 15px;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 40px;
}

.actionSection {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 479px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 767px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 991px) {
  .cards {
    grid-template-columns: repeat(5, 1fr);
  }
}
