.root {
  height: 100%;
  padding: 15px;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.panelHeader {
  background: #eeeeee;
  padding: 10px;
}

.panelDetails {
  padding: 10px;
  display: flex;
}
