.form {
  display: flex;
  flex-direction: column;
  width: 98%;
  grid-gap: 15px;
}

.header {
  margin-top: 28px;
  text-align: right;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-gap: 10px;
}

.rowItem {
  width: 100%;
}

.input {
  padding: 10px 0 10px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}

.input:focus {
  outline: none !important;
  border: 1px solid #7986cb;
  border-radius: 3px;
}

.inputError {
  padding: 10px 0 10px 10px;
  border: 1px solid #e57373;
  border-radius: 3px;
}

@media (min-width: 991px) {
  .form {
    display: flex;
    flex-direction: column;
    width: 90%;
    grid-gap: 15px;
  }
}
